body {
    margin: 0px;
    overflow: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #8D99AE;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2B2D42;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2B2D42;
  }
  @font-face {
    font-family: RobotoRegular;
    src: url(../assets/Roboto-Regular.ttf);
 }
 @font-face {
    font-family: RobotoLight;
    src: url(../assets/Roboto-Light.ttf);
 }
 @font-face {
    font-family: RobotoBold;
    src: url(../assets/Roboto-Bold.ttf);
 }
 .fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

 #app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px auto 60px;
}
.Header {
    background-color: #2B2D42;
}
.Content {
    background-color: #EDF2F4;
    display: grid;
    grid-template-rows: 1fr;
    overflow-y: scroll;
}
.Footer {
    background-color: #2B2D42;
}
.Home {
    background-color: white;
    display: grid;
    grid-template-rows: 100% 400px;
}
.Banner {
    background-image: url('./banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    background-color: #2B2D42;
    background-blend-mode: overlay;
}
.Skills {
    display: grid;
    grid-template-rows: 50px repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}
.Skill {
    background-color: #2B2D42;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid black 5px;
}
.Skill:hover {
    cursor: pointer;
    transform: scale(1.01);
}
svg {
    height: 100px;
    fill: #8D99AE;
}

.Level1 {
    border-right: solid red 7px;
}
.Level2 {
    border-right: solid yellow 7px;
}
.Level3 {
    border-right: solid green 7px;
}

.SkillInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B2D42;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 10px;
}
.skillsTitle {
    font-family: RobotoRegular;
    color: #8D99AE;
    font-size: 30px;
}
.Info {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 120px);
    height: 100%;
}
.infoText {
    font-family: RobotoLight;
    color: #8D99AE;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #8D99AE 2px;
    cursor: pointer;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}
.infoLevel1 {
    border: solid red 2px;
    color: red;
}
.infoLevel2 {
    border: solid yellow 2px;
    color: yellow;
}
.infoLevel3 {
    border: solid green 2px;
    color: green;
}
.scrollToTop {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: RobotoRegular;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    position: fixed;
    top: 90%;
    left: 93%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    text-transform: uppercase;
}

.aboutMe {
    height: min-content;
    display: grid;
    grid-template-rows: 50px auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}
.Title {
    background-color: #2B2D42;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: RobotoRegular;
    color: #8D99AE;
    font-size: 30px;
    text-transform: uppercase;
}
.About {
    background-color: #2B2D42;
    padding: 10px;
    font-family: RobotoRegular;
    font-size: 15px;
    text-transform: uppercase;
    color: #8D99AE;
    max-height: 300px;
    overflow-y: scroll;
}